[Unit]
Description=Fix display after hibernate
After=sleep.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 3
ExecStart=%h/.config/systemd/user/fix-display.sh

[Install]
WantedBy=sleep.target
